@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-scroll-x {
        display: flex;
        width: max-content;
        animation: scroll-x 30s linear infinite;
    }

    @keyframes scroll-x {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}